In [1]:
import pandas as pd

In [2]:
import numpy as np

# Функции

In [3]:
def get_tertype(name): #вытягивание или изменения типа населенного пункта
    if name.startswith('с.') or name.startswith('селище') \
        or name.startswith('с-ще') or name.startswith('смт') or name == 'село':
        return 'село'
    elif pd.isna(name) or name == 'інша країна':
        return name
    else:
        return 'місто'

In [4]:
def test_status_2022(score):
    if score >= 100:
        return 'Зараховано'
    elif score == 0:
        return 'Не зараховано'
    else:
        return "Не з'явився або анульовано"

In [5]:
def type_summary(ser):
    def get_type(x):
        if pd.isna(x):
            return 'Nan'
        else:
            return type(x).__name__
    return ser.apply(get_type).value_counts(dropna=False)

In [6]:
def test_status(status):
    if status in ('Отримав результат', 'Зараховано'):
        return 'Зараховано'
    elif status in ('Не склав', 'Не подолав поріг', 'Не зараховано'):
        return 'Не зараховано'
    elif status in ("Не з'явився", 'Анульовано',
                    "Не з’явився", "Не з'явився або анульовано", "Не з’явився(лася)"):
        return "Не з'явився або анульовано"
    else:
        return "Не складав"

# импорт сырых датафреймов

In [7]:
zno_2016 = pd.read_csv('data_ZNO_NMT/OpenData2016.csv', sep=';', decimal=',', encoding='cp1251')

In [8]:
zno_2017 = pd.read_csv('data_ZNO_NMT/OpenData2017.csv', sep=';', decimal=',', encoding='utf-8')

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/406083133.py:1: DtypeWarning: Columns (105,106) have mixed types. Specify dtype option on import or set low_memory=False.
  zno_2017 = pd.read_csv('data_ZNO_NMT/OpenData2017.csv', sep=';', decimal=',', encoding='utf-8')

In [9]:
zno_2018 = pd.read_csv('data_ZNO_NMT/OpenData2018.csv', sep=';', decimal=',', encoding='utf-8')

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2560453235.py:1: DtypeWarning: Columns (117,119) have mixed types. Specify dtype option on import or set low_memory=False.
  zno_2018 = pd.read_csv('data_ZNO_NMT/OpenData2018.csv', sep=';', decimal=',', encoding='utf-8')

In [10]:
zno_2019 = pd.read_csv('data_ZNO_NMT/Odata2019File.csv', sep=';', decimal=',', encoding='cp1251')

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/1554300580.py:1: DtypeWarning: Columns (100,116,117,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  zno_2019 = pd.read_csv('data_ZNO_NMT/Odata2019File.csv', sep=';', decimal=',', encoding='cp1251')

In [11]:
zno_2020 = pd.read_csv('data_ZNO_NMT/Odata2020File.csv', sep=';', decimal=',', encoding='cp1251')

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/1366053952.py:1: DtypeWarning: Columns (96,97,100,102,103,104,105,116,117,120,122,123,124,125) have mixed types. Specify dtype option on import or set low_memory=False.
  zno_2020 = pd.read_csv('data_ZNO_NMT/Odata2020File.csv', sep=';', decimal=',', encoding='cp1251')

In [12]:
zno_2021 = pd.read_csv('data_ZNO_NMT/Odata2021File.csv', sep=';', decimal=',', encoding='utf-8')

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2140095274.py:1: DtypeWarning: Columns (117,118,121,123,124,125,126,137,138,141,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  zno_2021 = pd.read_csv('data_ZNO_NMT/Odata2021File.csv', sep=';', decimal=',', encoding='utf-8')

In [13]:
nmt_2022 = pd.read_csv('data_ZNO_NMT/Odata2022File.csv', sep=';', decimal=',')

In [14]:
nmt_2023 = pd.read_csv('data_ZNO_NMT/Odata2023File.csv', sep=';', decimal=',')

In [15]:
nmt_2024 = pd.read_csv('data_ZNO_NMT/Odata2024File.csv', sep=';', decimal=',')

In [16]:
nmt_2025 = pd.read_csv('data_ZNO_NMT/Odata2025File.csv', sep=';', decimal=',')

In [17]:
# cписок полей для конечного датафрейма

In [18]:
fields = ['Id', 'Birth', 'Sex', 'RegName', 'AreaName', 'TerName', 'TerTypeName',
          'UkrStatus', 'Ukr', 'UkrBall', 
          'MathStatus', 'Math', 'MathBall', 
          'HistStatus', 'Hist', 'HistBall', 
          'EngStatus', 'Eng', 'EngBall', 
          'FraStatus', 'Fra', 'FraBall', 
          'DeuStatus', 'Deu', 'DeuBall', 
          'SpaStatus', 'Spa', 'SpaBall', 
          'PhysStatus', 'Phys', 'PhysBall', 
          'ChemStatus', 'Chem', 'ChemBall', 
          'BioStatus', 'Bio', 'BioBall', 
          'GeoStatus', 'Geo', 'GeoBall', 
          'UkrLitStatus', 'UkrLit', 'UkrLitBall', 
          'Year']

# извлекаем, переименовываем и добавляем нужные нам поля

## для 2016 года

In [19]:
df_2016 = zno_2016[['OutID', 'Birth', 'SexTypeName', 'Regname', 'AreaName', 'TerName',
                    'UkrTestStatus', 'UkrTest', 'UkrBall100', 
                    'MathTestStatus', 'MathTest', 'MathBall100', 
                    'HistTestStatus', 'HistTest', 'HistBall100',
                    'EngTestStatus','EngTest', 'EngBall100', 
                    'FrTestStatus', 'FrTest', 'FrBall100', 
                    'DeuTestStatus', 'DeuTest', 'DeuBall100', 
                    'SpTestStatus', 'SpTest', 'SpBall100', 
                    'PhysTestStatus', 'PhysTest', 'PhysBall100', 
                    'ChemTestStatus', 'ChemTest', 'ChemBall100', 
                    'BioTestStatus', 'BioTest', 'BioBall100', 
                    'GeoTestStatus', 'GeoTest', 'GeoBall100']]

In [20]:
df_2016.loc[:, 'UkrLitStatus'], df_2016.loc[:, 'UkrLit'], df_2016.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/3066422148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016.loc[:, 'UkrLitStatus'], df_2016.loc[:, 'UkrLit'], df_2016.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/3066422148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016.loc[:, 'UkrLitStatus'], df_2016.loc[:, 'UkrLit'], df_2016.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/3066422148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016.loc[:, 'UkrLitStatus'], df_2016.loc[:, 'UkrLit'], df_2016.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

In [21]:
df_2016.loc[:, 'Year'] = 2016 #добавляю год

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/1866707285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016.loc[:, 'Year'] = 2016 #добавляю год

In [22]:
df_2016['TerName'].str.extract(r'(^.*?[. ])|(^с-ще)')[0].unique() #нахожу тип нас-пунктка (nan, с. , м. , смт , с-ще , "район города")

array(['с.', 'м.', 'Шевченківський ', 'Жовтневий ', 'Суворовський ',
       'смт ', 'Ленінський ', 'Малиновський ', 'Красногвардійський ',
       'Бабушкінський ', 'Київський ', 'Автозаводський ', 'Франківський ',
       'Замостянський ', 'Фрунзенський ', 'Придніпровський ',
       'Корольовський ', 'Московський ', 'Деснянський ', "Солом'янський ",
       'Комінтернівський ', 'с-ще ', 'Індустріальний ',
       'Центрально-Міський ', 'Зарічний ', 'Амур-Нижньодніпровський ',
       'Октябрський ', 'Дзержинський ', 'Центральний ', 'Дніпровський ',
       'Дарницький ', 'Соснівський ', 'Крюківський ', 'Заводський ',
       'Приморський ', 'Голосіївський ', 'Кіровський ', 'Печерський ',
       'Іллічівський ', 'Подільський ', 'Комсомольський ', 'Богунський ',
       'Ковпаківський ', 'Оболонський ', 'Личаківський ', 'Самарський ',
       'Довгинцівський ', 'Саксаганський ', 'Орджонікідзевський ',
       'Червонозаводський ', 'Першотравневий ', 'Сихівський ',
       'Староміський ', 'Комунарський ', 'Залізничний ', 'Святошинський ',
       'Тернівський ', 'Новозаводський ', 'Холодногірський ',
       'Корабельний ', 'Хортицький ', 'Баглійський ', 'Галицький ',
       'Садгірський ', 'Інгулецький ', 'Петропавлівський '], dtype=object)

In [23]:
df_2016.insert(6, 'TerTypeName', '') #вставляю пустое поле в нужное мне место

In [24]:
df_2016.loc[:, 'TerTypeName'] = df_2016.loc[:, 'TerName'].apply(get_tertype) #заполняю новое поле

In [25]:
df_2016 = df_2016.rename(columns = dict(zip(df_2016.columns, fields))) #переименовываю поля

## для 2017 года

In [26]:
df_2017 = zno_2017.iloc[:, [0, 2, 3, 4, 5, 6, 8, 
                            18, 17, 19, 
                            36, 34, 37, 
                            27, 25, 28, 
                            80, 79, 81, 
                            88, 87, 89, 
                            96, 95, 97, 
                            104, 103, 105, 
                            45, 43, 46, 
                            54, 52, 55, 
                            63, 61, 64, 
                            72, 70, 73]]

In [27]:
df_2017.loc[:, 'UkrLitStatus'], df_2017.loc[:, 'UkrLit'], df_2017.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/719571270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017.loc[:, 'UkrLitStatus'], df_2017.loc[:, 'UkrLit'], df_2017.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/719571270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017.loc[:, 'UkrLitStatus'], df_2017.loc[:, 'UkrLit'], df_2017.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/719571270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017.loc[:, 'UkrLitStatus'], df_2017.loc[:, 'UkrLit'], df_2017.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

In [28]:
df_2017.loc[:, 'Year'] = 2017 #добавляю год

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/1375606126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017.loc[:, 'Year'] = 2017 #добавляю год

In [29]:
df_2017 = df_2017.rename(columns = dict(zip(df_2017.columns, fields))) #переименовываю поля

## для 2018 года

In [30]:
df_2018 = zno_2018.iloc[:, [0, 1, 2, 3, 4, 5, 7, 
                            17, 16, 18, 
                            37, 35, 38, 
                            27, 25, 28, 
                            86, 85, 87, 
                            96, 95, 97, 
                            106, 105, 107, 
                            116, 115, 117, 
                            47, 45, 48, 
                            57, 55, 58, 
                            67, 65, 68, 
                            77, 75, 78]]

In [31]:
df_2018.loc[:, 'UkrLitStatus'], df_2018.loc[:, 'UkrLit'], df_2018.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/3332155974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018.loc[:, 'UkrLitStatus'], df_2018.loc[:, 'UkrLit'], df_2018.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/3332155974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018.loc[:, 'UkrLitStatus'], df_2018.loc[:, 'UkrLit'], df_2018.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/3332155974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018.loc[:, 'UkrLitStatus'], df_2018.loc[:, 'UkrLit'], df_2018.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

In [32]:
df_2018.loc[:, 'Year'] = 2018 #добавляю год

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/463000783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018.loc[:, 'Year'] = 2018 #добавляю год

In [33]:
df_2018 = df_2018.rename(columns = dict(zip(df_2018.columns, fields))) #переименовываю поля

## для 2019 года

In [34]:
df_2019 = zno_2019.iloc[:, [0, 1, 2, 3, 4, 5, 7, 
                            17, 16, 18, 
                            38, 36, 39, 
                            28, 26, 29, 
                            87, 86, 88, 
                            97, 96, 98, 
                            107, 106, 108, 
                            117, 116, 118, 
                            48, 46, 49, 
                            58, 56, 59, 
                            68, 66, 69, 
                            78, 76, 79]]

In [35]:
df_2019.loc[:, 'UkrLitStatus'], df_2019.loc[:, 'UkrLit'], df_2019.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/4038399365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.loc[:, 'UkrLitStatus'], df_2019.loc[:, 'UkrLit'], df_2019.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/4038399365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.loc[:, 'UkrLitStatus'], df_2019.loc[:, 'UkrLit'], df_2019.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/4038399365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.loc[:, 'UkrLitStatus'], df_2019.loc[:, 'UkrLit'], df_2019.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

In [36]:
df_2019.loc[:, 'Year'] = 2019 #добавляю год

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/1666320957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.loc[:, 'Year'] = 2019 #добавляю год

In [37]:
df_2019 = df_2019.rename(columns = dict(zip(df_2019.columns, fields))) #переименовываю поля

## для 2020 года

In [38]:
df_2020 = zno_2020.iloc[:, [0, 1, 2, 3, 4, 5, 7, 
                            17, 16, 18, 
                            38, 36, 39, 
                            28, 26, 29, 
                            87, 86, 88, 
                            97, 96, 98, 
                            107, 106, 108, 
                            117, 116, 118, 
                            48, 46, 49, 
                            58, 56, 59, 
                            68, 66, 69, 
                            78, 76, 79]]

In [39]:
df_2020.loc[:, 'UkrLitStatus'], df_2020.loc[:, 'UkrLit'], df_2020.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/3383525523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020.loc[:, 'UkrLitStatus'], df_2020.loc[:, 'UkrLit'], df_2020.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/3383525523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020.loc[:, 'UkrLitStatus'], df_2020.loc[:, 'UkrLit'], df_2020.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/3383525523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020.loc[:, 'UkrLitStatus'], df_2020.loc[:, 'UkrLit'], df_2020.loc[:, 'UkrLitBall100'] = np.nan, np.nan, np.nan

In [40]:
df_2020.loc[:, 'Year'] = 2020 #добавляю год

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/1099777423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020.loc[:, 'Year'] = 2020 #добавляю год

In [41]:
df_2020 = df_2020.rename(columns = dict(zip(df_2020.columns, fields))) #переименовываю поля

## для 2021 года

In [42]:
df_2021 = zno_2021.iloc[:, [0, 1, 2, 3, 4, 5, 7, 
                            28, 26, 29, 
                            49, 47, 50, 
                            39, 37, 40, 
                            108, 107, 109, 
                            118, 117, 119, 
                            128, 127, 129, 
                            138, 137, 139, 
                            69, 67, 70, 
                            79, 77, 80, 
                            89, 87, 90, 
                            99, 97, 100, 
                            17, 16, 18]]

In [43]:
df_2021.loc[:, 'Year'] = 2021 #добавляю год

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2535078677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.loc[:, 'Year'] = 2021 #добавляю год

In [44]:
df_2021 = df_2021.rename(columns = dict(zip(df_2021.columns, fields))) #переименовываю поля

## для 2022 года

In [45]:
df_2022 = nmt_2022[['OUTID', 'Birth', 'SexTypeName', 'RegName', 'AREANAME', 'TERNAME', 'TerTypeName',
                    'Block1', 'Block1Ball100',
                    'Block3', 'Block3Ball100',
                    'Block2', 'Block2Ball100']
          ].rename(columns=dict(zip(['OUTID', 'Birth', 'SexTypeName', 'RegName', 'AREANAME', 'TERNAME', 'TerTypeName',
                    'Block1', 'Block1Ball100',
                    'Block3', 'Block3Ball100',
                    'Block2', 'Block2Ball100'],
                                    ['Id', 'Birth', 'Sex', 'RegName', 'AreaName', 'TerName', 'TerTypeName',
                                     'Ukr', 'UkrBall',
                                     'Math', 'MathBall',
                                     'Hist', 'HistBall'])))

In [46]:
#добавляю статус для каждого теста отдельно
df_2022['UkrStatus'] = df_2022['UkrBall'].apply(test_status_2022)
df_2022['MathStatus'] = df_2022['MathBall'].apply(test_status_2022)
df_2022['HistStatus'] = df_2022['HistBall'].apply(test_status_2022)

In [47]:
new_columns = ['EngStatus', 'Eng', 'EngBall', 
          'FraStatus', 'Fra', 'FraBall', 
          'DeuStatus', 'Deu', 'DeuBall', 
          'SpaStatus', 'Spa', 'SpaBall', 
          'PhysStatus', 'Phys', 'PhysBall', 
          'ChemStatus', 'Chem', 'ChemBall', 
          'BioStatus', 'Bio', 'BioBall', 
          'GeoStatus', 'Geo', 'GeoBall', 
          'UkrLitStatus', 'UkrLit', 'UkrLitBall']

In [48]:
#добавляю недостающие колонки и заполняю
for col in new_columns:
    df_2022.loc[:, col] = np.nan

In [49]:
df_2022.loc[:, 'Year'] = 2022

In [50]:
#меняю порядок колонок
df_2022 = df_2022[fields]

## для 2023 года

In [51]:
#изъятие нужных полей
df_2023 = nmt_2023[['outid', 'Birth', 'SexTypeName', 'RegName', 'AreaName', 'TerName', 'TerTypeName', 
                    'UkrBlockStatus', 'UkrBlock', 'UkrBlockBall100', 
                    'MathBlockStatus', 'MathBlock', 'MathBlockBall100',
                    'HistBlockStatus', 'HistBlock','HistBlockBall100',
                    'EngBlockStatus', 'EngBlock', 'EngBlockBall100',
                    'FraBlockStatus', 'FraBlock','FraBlockBall100', 
                    'DeuBlockStatus', 'DeuBlock', 'DeuBlockBall100', 
                    'SpaBlockStatus', 'SpaBlock', 'SpaBlockBall100',
                    'PhysBlockStatus', 'PhysBlock','PhysBlockBall100', 
                    'ChemBlockStatus', 'ChemBlock','ChemBlockBall100', 
                    'BioBlockStatus', 'BioBlock','BioBlockBall100']]

In [52]:
#добавление полей
df_2023.loc[:, 'GeoStatus'] = np.nan
df_2023.loc[:, 'Geo'] = np.nan
df_2023.loc[:, 'GeoBall'] = np.nan
df_2023.loc[:, 'UkrLitStatus'] = np.nan
df_2023.loc[:, 'UkrLit'] = np.nan
df_2023.loc[:, 'UkrLitBall'] = np.nan
df_2023.loc[:, 'Year'] = 2023

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2957757120.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.loc[:, 'GeoStatus'] = np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2957757120.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.loc[:, 'Geo'] = np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2957757120.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.loc[:, 'GeoBall'] = np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2957757120.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.loc[:, 'UkrLitStatus'] = np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2957757120.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.loc[:, 'UkrLit'] = np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2957757120.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.loc[:, 'UkrLitBall'] = np.nan
/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/2957757120.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2023.loc[:, 'Year'] = 2023

In [53]:
#переименование полей
df_2023 = df_2023.rename(columns=dict(zip(df_2023.columns, fields)))

## для 2024 года

In [54]:
#изъятие нужных полей
df_2024 = nmt_2024[['outid', 'Birth', 'SexTypeName', 'RegName', 'AreaName', 'TerName', 'TerTypeName', 
                    'UkrBlockStatus', 'UkrBlock', 'UkrBlockBall100', 
                    'MathBlockStatus', 'MathBlock', 'MathBlockBall100',
                    'HistBlockStatus', 'HistBlock','HistBlockBall100',
                    'EngBlockStatus', 'EngBlock', 'EngBlockBall100',
                    'FraBlockStatus', 'FraBlock','FraBlockBall100', 
                    'DeuBlockStatus', 'DeuBlock', 'DeuBlockBall100', 
                    'SpaBlockStatus', 'SpaBlock', 'SpaBlockBall100',
                    'PhysBlockStatus', 'PhysBlock','PhysBlockBall100', 
                    'ChemBlockStatus', 'ChemBlock','ChemBlockBall100', 
                    'BioBlockStatus', 'BioBlock', 'BioBlockBall100',
                    'GeoBlockStatus', 'GeoBlock', 'GeoBlockBall100',
                    'UkrLitBlockStatus', 'UkrLitBlock', 'UkrLitBlockBall100']]

In [55]:
#добавляем поле с годом
df_2024.loc[:, 'Year'] = 2024

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/1826015091.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2024.loc[:, 'Year'] = 2024

In [56]:
df_2024 = df_2024.rename(columns=dict(zip(df_2024.columns, fields)))

## для 2025 года

In [57]:
#изъятие нужных полей
df_2025 = nmt_2025[['outid', 'Birth', 'SexTypeName', 'RegName', 'AreaName', 'TerName', 'TerTypeName', 
                    'UkrBlockStatus', 'UkrBlock', 'UkrBlockBall100', 
                    'MathBlockStatus', 'MathBlock', 'MathBlockBall100',
                    'HistBlockStatus', 'HistBlock','HistBlockBall100',
                    'EngBlockStatus', 'EngBlock', 'EngBlockBall100',
                    'FraBlockStatus', 'FraBlock','FraBlockBall100', 
                    'DeuBlockStatus', 'DeuBlock', 'DeuBlockBall100', 
                    'SpaBlockStatus', 'SpaBlock', 'SpaBlockBall100',
                    'PhysBlockStatus', 'PhysBlock','PhysBlockBall100', 
                    'ChemBlockStatus', 'ChemBlock','ChemBlockBall100', 
                    'BioBlockStatus', 'BioBlock', 'BioBlockBall100',
                    'GeoBlockStatus', 'GeoBlock', 'GeoBlockBall100',
                    'UkrLitBlockStatus', 'UkrLitBlock', 'UkrLitBlockBall100']]

In [58]:
#добавляем поле с годом
df_2025.loc[:, 'Year'] = 2025

/var/folders/3d/h6nvvzgn4n30qgsfd1vh5pyc0000gn/T/ipykernel_59937/4086617799.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2025.loc[:, 'Year'] = 2025

In [59]:
df_2025 = df_2025.rename(columns=dict(zip(df_2025.columns, fields)))

# объединяем все в один датафрейм

In [60]:
#объединяем все в один датафрейм
df = pd.concat([df_2016, df_2017, df_2018,
                df_2019, df_2020, df_2021,
                df_2022, df_2023, df_2024,
                df_2025], ignore_index=True)

# проверка каждого поле на правильность значений

## ID

In [61]:
#уникальность
df['Id'].is_unique

True

In [62]:
#наличие Nan
df['Id'].isna().any()

np.False_

## Birth

In [63]:
#min & max год рождение
df['Birth'].min(), df['Birth'].max()

(np.int64(1944), np.int64(2011))

In [64]:
#наличие не числовых значений
type_summary(df['Birth'])

Birth
int    3119652
Name: count, dtype: int64

## Sex

In [65]:
#проверка правильности пола  и лишних значений
df['Sex'].unique()

array(['чоловіча', 'жіноча'], dtype=object)

## RegName

In [66]:
#проверка правильности названий и кол ва областей
df['RegName'].unique(), len(df['RegName'].unique())

(array(['Запорізька область', 'Хмельницька область',
        'Дніпропетровська область', 'Чернівецька область',
        'Миколаївська область', 'Донецька область',
        'Тернопільська область', 'Кіровоградська область',
        'Одеська область', 'Львівська область',
        'Івано-Франківська область', 'Харківська область',
        'Черкаська область', 'Волинська область', 'Полтавська область',
        'Рівненська область', 'Вінницька область', 'Чернігівська область',
        'Київська область', 'Херсонська область', 'Житомирська область',
        'Закарпатська область', 'м.Київ', 'Сумська область',
        'Луганська область', 'Інші країни'], dtype=object),
 26)

## TerTypeName

In [67]:
#проверка типов населенных пунктов
df['TerTypeName'].unique()

array(['село', 'місто', 'селище, село', 'селище міського типу',
       'інша країна'], dtype=object)

In [68]:
#приводим все к 3 типам ('село', 'місто', 'інша країна')
df['TerTypeName'] = df['TerTypeName'].apply(get_tertype)

In [69]:
#проверяем что данные совпадают
df['TerTypeName'].value_counts()

TerTypeName
місто          2376388
село            731491
інша країна      11773
Name: count, dtype: int64

In [70]:
len(df[df['RegName'] == 'Інші країни'])

11773

## Проверка и редактирование статусов по всем предметам

In [71]:
prefs = ('Ukr', 'Math', 'Hist', 'Eng', 'Fra', 'Deu', 'Spa', 'Phys', 'Chem', 'Bio', 'Geo', 'UkrLit')

In [72]:
statuses = set() #множество всевозможных статусов
for p in prefs:
    statuses.update(df[p + 'Status'].unique())
statuses

{nan,
 'Анульовано',
 'Зараховано',
 "Не з'явився",
 "Не з'явився або анульовано",
 'Не зараховано',
 'Не зареєстровано для проходження основної сесії',
 'Не з’явився',
 'Не з’явився(лася)',
 'Не обрано 100-200',
 'Не подолав поріг',
 'Не склав',
 'Отримав результат'}

In [73]:
#редактирование статусов
for p in prefs:
    df[p + 'Status'] = df[p + 'Status'].apply(test_status)

## Проверка названий предметов

In [74]:
names = set()
for p in prefs:
    names.update(df[p].unique())
names

{nan,
 'Іспанська мова',
 'Історія України',
 'Англійська мова',
 'Біологія',
 'Географія',
 'Математика',
 'Німецька мова',
 'Українська література',
 'Українська мова',
 'Українська мова і література',
 'Французька мова',
 'Фізика',
 'Хімія'}

In [75]:
df.loc[df['Ukr'] == 'Українська мова і література', 'Ukr'] = 'Українська мова'

In [76]:
df.loc[df['UkrLit'] == 'Українська мова і література', 'UkrLit'] = 'Українська література'

## Проверка коректности баллов.

In [77]:
#проверяет колонки с баллами.
for col in df.columns:
    if col.endswith('Ball'):
        print(type_summary(df[col])) #обнаруживает что есть значение Str

UkrBall
float    2211196
str       552737
Nan       355719
Name: count, dtype: int64
MathBall
float    1729732
Nan      1177279
str       212641
Name: count, dtype: int64
HistBall
float    1709559
Nan      1078564
str       331529
Name: count, dtype: int64
EngBall
Nan      2253655
float     703300
str       162697
Name: count, dtype: int64
FraBall
Nan      3115493
float       2837
str         1322
Name: count, dtype: int64
DeuBall
Nan      3099163
float      16049
str         4440
Name: count, dtype: int64
SpaBall
Nan      3118470
float        924
str          258
Name: count, dtype: int64
PhysBall
Nan      2959585
float     115643
str        44424
Name: count, dtype: int64
ChemBall
Nan      3008915
float      69186
str        41551
Name: count, dtype: int64
BioBall
Nan      2511684
float     448544
str       159424
Name: count, dtype: int64
GeoBall
Nan      2522356
float     454895
str       142401
Name: count, dtype: int64
UkrLitBall
Nan      2811847
float     307805
Name: count, dtype: int64

In [78]:
#понимаем что некоторые числовые значения представлены как str, непорядок =(
df[df['MathBall'].apply(lambda x: isinstance(x, str))].loc[:, 'MathBall']

268006    159.0
268007    110.0
268008    103.0
268009    143.0
268010    131.0
          ...
844564    144.0
844565    148.0
844567    146.0
844571    127.0
844575      0.0
Name: MathBall, Length: 212641, dtype: object

In [79]:
#исправляем
for col in df.columns:
    mask = df.loc[:, col].apply(lambda x: isinstance(x, str)) #маска для str объектов
    if col.endswith('Ball'):
        df.loc[mask, col] = \
        df.loc[mask, col].apply(float)
        #заменяю 0 значения(не сдал) на 99(проходной бал -1) чтобы не влиять на среднее среди участников
        df.loc[df[col] == 0.0, col] = 99

In [80]:
"""
обнаружил аномалию в 2016 и возможно у других годов, у небольшого количества участников со статусом 'Анульовано', 
отображаются баллы. Их учитывать неправильно и стоит заменить на NaN.
"""
df[df['MathStatus'] == "Не з'явився або анульовано"][['MathStatus', 'MathBall']].drop_duplicates()

                        MathStatus MathBall
9       Не з'явився або анульовано      NaN
4533    Не з'явився або анульовано       99
14499   Не з'явився або анульовано    107.0
22956   Не з'явився або анульовано    120.0
37639   Не з'явився або анульовано    123.0
71165   Не з'явився або анульовано    111.0
82888   Не з'явився або анульовано    104.0
89810   Не з'явився або анульовано    145.0
174676  Не з'явився або анульовано    178.0
195930  Не з'явився або анульовано    167.0
199250  Не з'явився або анульовано    125.0
242729  Не з'явився або анульовано    114.0
251532  Не з'явився або анульовано    100.0
260579  Не з'явився або анульовано    117.0

In [81]:
#функция для замены баллов у участников которые Анулированы, на значение NaN
def put_nan(pref):
    df.loc[df[pref + 'Status'] == "Не з'явився або анульовано", pref + 'Ball'] = np.nan

In [82]:
for pref in prefs:
    put_nan(pref)

In [83]:
df[df['MathStatus'] == "Не з'явився або анульовано"][['MathStatus', 'MathBall']].drop_duplicates()

                   MathStatus MathBall
9  Не з'явився або анульовано      NaN

In [84]:
df[df['UkrStatus'] == "Не з'явився або анульовано"][['UkrStatus', 'UkrBall']].drop_duplicates()

                     UkrStatus UkrBall
17  Не з'явився або анульовано     NaN

# сохраняю готовый датафрейм в файл

In [86]:
#df.to_csv('full_zno.csv', index=False)